/node_modules/
/data/
/generated-types/*/data/
/imports-come-from.*.json
/auto-imports.json
/**/.eslintcache
/**/*.js
/**/*.mjs
/**/*.js.map
/**/*.d.ts
/discovery-types.*.failure.json
/failed-to-compile.*.json
/coverage/
/discover-types.*.perf.json
/.idea/
