/node_modules/
/data/
/generated-types/
/lib/**/*.mjs
/lib/**/*.js
/lib/**/*.map
/tests/**/*.js
/tests/**/*.map
/assert/**/*.js
/assert/**/*.map
/imports-come-from.json
/auto-imports.json
/.eslintcache
/*.js
/*.js.map
/discovery-types.failure.json
/coverage/
