types-progress.md
/**/*.ts
/**/*.js.map
!/**/*.d.ts
/tests/**/*.*
/*.js
/*.d.ts
!/setup_PerformanceObserver.js
!/setup_PerformanceObserver.d.ts
/discover-types.perf.json
/discovery-types.failure.json
/failed-to-compile.json
/imports-come-from.json
/generated-types/*/data/
/data/
/coverage/
/data-progress.md
/.c8rc*.json
/.devcontainer/
/.github/
/.idea/
/Docs.json.ts.dic
/Makefile
/.editorconfig
/.eslintignore
/**/.eslintcache
/**/.eslintrc.json
/.prettierignore
/.prettierrc
/tsconfig*.json
/**/.gitkeep
/**/eslint.config*.mjs
