/tests/
types-progress.md
/**/*.js
/**/*.map
/*.ts
/discover-types.perf.json
/discovery-types.failure.json
/failed-to-compile.json
/imports-come-from.json
/generated-types/
/data/
/coverage/
/data-progress.md
/.c8rc*.json
/.devcontainer/
/.github/
/.idea/
/Docs.json.ts.dic
/Makefile
/.editorconfig
/.eslintignore
/.eslintcache
/.eslintrc.json
/.prettierignore
/.prettierrc
/tsconfig*.json
!/tsconfig.json
!/tsconfig.app.json
